.App {
  text-align: center;
}

.bg-dark-blue {
  background-color: #1B4353;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.parent {
  position: relative;
}
.main-logo {
  width: 500px;
  height: 500px;
  background-color: #8E94F2;
  color: #1B4353;
  text-align: center;
  border-radius: 20px;
}

.btn-dark-blue{
  position: relative;
  color: white;
  background-color: #1B4353;
}

