<header>
  <title>HIRA</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" media="screen,projection">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  media="screen,projection"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</header>

<nav>
  <div class="nav-wrapper">
    <a href="{{url_for('index')}}" class="brand-logo">HIRA</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="{{url_for('appointments', id='0000000001')}}"><i class="material-icons left">people</i>Appointments</a>
      </li>
      <li>
        <a href="{{url_for('patients_list')}}"><i class="material-icons left">search</i>Search</a>
      </li>
      <li>
        <a href="{{url_for('record_audio')}}"><i class="material-icons left">audiotrack</i>Recordings</a>
      </li>
      <li>
        {% if session.user != None %}
        <a href="{{url_for('logout')}}"><i class="material-icons left">exit_to_app</i>Log Out</a>
        {% else %}
        <a href="{{url_for('login')}}"><i class="material-icons left">exit_to_app</i>Log In</a>
        {% endif %}

      </li>
    </ul>
  </div>
</nav>