{% include "header.html" %}

<div class="background">
<div class="container">
  <br /> {% if session.user == None %}
  <!-- show if not logged in -->
  <div class="row">
    <div class="col s6 offset-s3 center">
      <br />
      <br />
      <br />
      <br />
      <h1 class="landingPage">HIRA</h1>
      <div>Make Appointments and hospital life easier, Hospitals don't need to be scary.</div>
    </div>
  </div>


  <div class="row center">
    <a href="{{url_for('login')}}" class="waves-effect waves-light btn-large">Log In</a>
  </div>

  {% endif %}

  <!-- show if logged in is doctor-->

  <div class="row">
    {% if session.user != None %}
    <h1 id="text-fader">Welcome, {{session.user}} Ranpara</h1>
    <h2 id="text-fader">What do you want to do today?</h2>
    <div class="col s5">
      <a href="{{url_for('appointments')}}" class="waves-effect waves-light btn-large" id="index-button"><i class="material-icons left">people</i>View Appointments</a>
    </div>
    </div>
    <div class="row">
    <div class="col s6">
      <a href="{{url_for('patients_list')}}" class="waves-effect waves-light btn-large" id="index-button"><i class="material-icons left">search</i>Search Patients</a>
    </div>
    </div>

    <div class="row">
    <div class="col s7">
      <a href="{{url_for('record_audio')}}" class="waves-effect waves-light btn-large" id="index-button"><i class="material-icons left">audiotrack</i>Recordings</a>
    </div>
    </div>
    </form>

  </div>
  {% endif %}

</div>
</div>