{% include "header.html" %}

{% block content %}

<main>
        <div class="row rounded">
        <div class="col s12 l4 offset-l4 center-align give-margin">
            
            <h5 class="indigo-text">Log in to your account</h5>
              

          <a href="{{url_for('nurseLogin')}}">
          <div class="card purple darken-1 hoverable z-depth-2 rounded hoverable">
            <div class="card-content black-text">
              <span class="card-title white-text">Log in as Nurse</span>
            </div>
          </div>
          </a>  

          <a href="{{url_for('doctorLogin')}}"> <div class="card blue darken-1 hoverable z-depth-2 rounded hoverable">
            <div class="card-content black-text">
              <span class="card-title white-text">Log in as Doctor</span>
            </div>
          </div>
          </a>
          
          


        
        </div>
        </main>

{% endblock %}
