{% include "header.html" %}

<div class="container">
  <h2>Patient View</h2>
  <div class="row">
<div class="col s6">Name: {{patient.full_name}}</div>
<div class="col s6">Age: 40</div>
  </div>
  <div class="row">
<div class="col s4">DOB: {{patient.date_of_birth}}</div>
<div class="col s4">Gender: {{patient.gender}}</div>
<div class="col s4">Weight: {{patient.weight}}</div>
  </div>
  <div class="row">
    <div class="col s6">
<h3>Appointments</h3>
<!-- for each appointment for a patient-->
{% for x in appointment %}
<div class="row">
  <div class="col s12">
    <div class="card dark-blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{x.appointment_id}}</span>
        <p>Doctor ID: {{x.doctor_id}}</p>
        <p>Date: {{x.date_of_appointment}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
    </div>
<div class="col s6">
  <h3>Records</h3>
<!--
{% for x in record %}
<div class="row">
  <div class="col s12">
    <div class="card dark-blue darken-1">
      <div class="card-content white-text">
        <p>Record ID: {{x.record_id}}</p>
        <p>Status: {{x.status}}</p>
      </div>
      <div class="card-action">
<a href="{{url_for('records')}}">View details</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} -->

</div>
  </div>
</div>
