{% include "header.html" %}

<div class="container">
  <h2>Patient View</h2>
  <div class="row">
  </div>
  <div class="row">
      <div class="col s6">
      <div class="card scheme darken-1">
        <div class="card-content white-text">
          <span class="card-title">Full Name</span>
          <p>{{patient.full_name}}</p>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card scheme darken-1">
        <div class="card-content white-text">
          <span class="card-title">Date of Birth</span>
          <p>{{patient.date_of_birth}}</p>
        </div>
      </div>
      </div>


    <div class="col s6">
      <div class="card scheme darken-1">
        <div class="card-content white-text">
          <span class="card-title">Gender</span>
          <p>{{patient.gender}}</p>
        </div>
      </div>
    </div>

        <div class="col s6">
      <div class="card scheme darken-1">
        <div class="card-content white-text">
          <span class="card-title">Weight</span>
          <p>{{patient.weight}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
<h3>Appointments</h3>
 <!-- for each appointment for a patient -->
{% for x in appointment %}
<div class="row">
  <div class="col s12">
    <div class="card dark-blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{x.appointment_id}}</span>
        <p>Doctor ID: {{x.doctor_id}}</p>
        <p>Date: {{x.date_of_appointment}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

    </div>
<div class="col s6">
  <h3>Records</h3>
{% for y in appointment %}
<div class="row">
  <div class="col s12">
    <div class="card dark-blue darken-1">
      <div class="card-content white-text">
        <p>Record ID: {{y.record_id}}</p>
        <p>Status: {{y.status}}</p>
      </div>
      <div class="card-action">
<a href="{{url_for('records')}}">View details</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}


</div>
  </div>
</div>
