{% include "header.html" %}

<div class="container">

  <div class="row">
    <h1>NAME HERE</h1> - Ongoing/Completed
  </div>


  <div class="col s3">
    <form action="record_audio" method="post">
      <input id="recording_time_id" type='text' name='recording_time'>
      <button onclick=recording_audio() type="submit" class="waves-effect waves-light btn-large">Record</button>
    </form>
  </div>

  <p> Recording Audio </p>
  <div class="progress">
      <div id="audio_recording" class="determinate" style="width:0%"></div>
  </div>

  <p> Converting To Text </p>
  <div class="progress">
      <div id="audio_conversion" class="determinate"></div>
  </div>

  <script> function recording_audio() {
    var elem = document.getElementById("audio_recording");
    var width = 0;
    var time = document.getElementById("recording_time_id").value;
    var time_int = 10/parseInt(time, 10);
    var id = setInterval(frame, 100);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        document.getElementById("audio_conversion").className = "indeterminate";
      } else {
        //10 every second
        width = width + time_int;
        elem.style.width = width + '%';
        elem.innerHTML = width * 1 + '%';
      }
    }
  } </script>

  <div class="row">
    <h3>Diagnosis</h3>
    <p>sdfles;lfjl;fhakfheklfhdsaklfhadslkf</p>
    <p> {{ message }} </p>
    <button type="button"> edit </button>
    <!-- change this to a pop up form when edit button is pressed -->
    <table class="diagnosis-table">
      <thead>
        <tr>
          <th>Record ID</th>
          <th>Appointment ID</th>
          <th>Diagnosis</th>
        </tr>
      </thead>

      <tbody>
        {% for r in patientRecord %}
        <tr>
          <td>{{ r.record_id }}</td>
          <td>{{ r.appointment_id}}</td>
          <td>{{ r.diagnosis}}</td>
          <td>
            View
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Notes</h3>
    <div class=white>
      <ul class="collection classToChange">
        <!--for every record-->
          <div class="col s10">
            ksdkjaf skfieie skldfaldsjfal dsfks afioe sa dsa fosdfioa d.
          </div>
          <div class="col s2">
            <div class="vote">
              <p class="button" id="minus">-</p>
              <p id="count">0</p>
              <p class="button" id="plus">+</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
