{% include "header.html" %}

<div class="container">

  <div class="row">
    <h1>{{record.full_name}}</h1> - {{record.status}}
  </div>
  <div class="row">
    <h3>Diagnosis</h3>
    <p>{{record.diagnosis}}</p>
    <button class="waves-effect waves-light btn modal-trigger" data-target="modal1">Edit Diagnosis</button>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Edit Patient Diagnosis</h4>

      <div class="row">
        <form class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="diagnosis" type="text">
              <label placeholder="Enter diagnostic">Additional Diagnosis</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Confirm Edit</a>
    </div>
  </div>

    <h3>Notes</h3>
    <ul class="collection">
      <!--for every record-->
      <li class="collection-item">
        <div class="col s10">
          ksdkjaf skfieie skldfaldsjfal dsfks afioe sa dsa fosdfioa d.
        </div>
        <div class="col s2">
          <div class="vote">
            <p class="button" id="minus">-</p>
            <p id="count">0</p>
            <p class="button" id="plus">+</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
