 .give-margin {
    margin-top: 55px;
  }

.form-margin {
	margin-top: 10px;
}
  .login-container {
  	width: 40%;
  }

.rounded {
	border-radius: 25px;
}

.brand-logo {
	margin-left: 20px;
}

body {
background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
