 .give-margin {
    margin-top: 55px;
  }

.form-margin {
	margin-top: 10px;
}
  .login-container {
  	width: 40%;
  }

.rounded {
	border-radius: 25px;
}

.brand-logo {
	margin-left: 20px;
}

body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
